<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:jtds:sqlserver://attdb1.colo1.fetch.com/fetch_atti</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">fetch</property>
  </session-factory>
</hibernate-configuration>
